/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    width: 100%;
  }

  /* TODO: Revisar si sobra */
.formatoTabla{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    padding-left: 7000px;
}
/* */

.horizontal{
    display: flex;
}

#botonFiltrar{
    height: 10%;
    width: auto;
    margin-top: 0.5%;
}

.iconButton{
    background: transparent;
    border: none;
}

.botonEliminar {
    background: transparent;
    border: none;
}

.botonEliminar:hover {
    color: red;
}

.botonEditar {
    background: transparent;
    border: none;
}

.botonEditar:hover {
    color: #3F51B5;
}