/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #e1f0df;
}

table {
    width: 100%;
  }

  /* TODO: Revisar si sobra */
.formatoTabla{
    height: 100%;
    background-color:#d1eecc;
    
}

.formatoTitulo{
    height: 100%;
    text-align: center;
    background-color:#d1eecc;
}

#tituloMenu{
    font-family: Nunito, Roboto, "Helvetica Neue", sans-serif;
    font-size: 2.2em;
    color: #184a41;
    text-align: center;
}

.botonMenu{
    background-color:#57a99a;
    color: #d1eecc;
    padding-bottom: -100px;
    height: 3em;
    width: 16em;
}

.botonMenu:hover{
    background-color:#60b5a4;
    box-shadow: 5px 10px 1px rgba(33,33,33,.2);
    
    -moz-transform: translate(-5px, -5px);
    -ms-transform: translate(-5px, -5px);
    -o-transform: translate(-5px, -5px);
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px)
}


.tablaElevada{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.tableContent{
    background-color: #dbedd8;
}



#botonFiltrar{
    background-color:#57a99a;
    color: #d1eecc;
    padding-bottom: -100px;
    height: 2.9em;
    width: 13em;       
}

#botonFiltrar:hover{
    background-color:#60b5a4;
    box-shadow: 5px 10px 1px rgba(33,33,33,.2);
    
    -moz-transform: translate(-5px, -5px);
    -ms-transform: translate(-5px, -5px);
    -o-transform: translate(-5px, -5px);
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px)
}

#botonNuevo{
    background-color:#57a99a;
    color: #d1eecc;
    padding-bottom: -100px;
    height: 3em;
    width: 8em;
}

#botonNuevo:hover{
    background-color:#60b5a4;
    box-shadow: 5px 10px 1px rgba(33,33,33,.2);
    
    -moz-transform: translate(-5px, -5px);
    -ms-transform: translate(-5px, -5px);
    -o-transform: translate(-5px, -5px);
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px)
}

#botonVolver{
    background-color:#e1f0df;
    color: #184a41;
    padding-bottom: -100px;
    height: 3em;
    width: 8em;
}

#botonVolver:hover{
    background-color: #e6f5e4;
    box-shadow: 5px 10px 1px rgba(33,33,33,.2);
    
    -moz-transform: translate(-5px, -5px);
    -ms-transform: translate(-5px, -5px);
    -o-transform: translate(-5px, -5px);
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px)
}

#tituloTabla{
    font-family: Nunito, Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.4em;
    color: #184a41;
    text-align: center;
}

.horizontal{
    display: flex;
}

.horizontalCentrado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconButton{
    background: transparent;
    border: none;
}

.botonEliminar {
    color: lightcoral;
    background: transparent;
    border: none;
}

.botonEliminar:hover {
    color: red;
}

.botonEditar {
    color: #57a99a;
    background: transparent;
    border: none;
}

.botonEditar:hover {
    color: #184a41;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.fondoModal{
    background-color: #e1f0df;
}

#botonAceptar{
    background-color:#57a99a;
    color: #d1eecc;
    padding-bottom: -100px;
}

.botonExaminar{
    background-color:#57a99a;
    color: #d1eecc;
    margin-left: 25%;
    margin-right: 25%;
    height: 2.8em;
}

.botonExminar:hover{
    background-color:#60b5a4;
    box-shadow: 5px 10px 1px rgba(33,33,33,.2);
    
    -moz-transform: translate(-5px, -5px);
    -ms-transform: translate(-5px, -5px);
    -o-transform: translate(-5px, -5px);
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px)
}