<mat-card-title primary>
  {{titulo}}
</mat-card-title>

<div class="horizontal">

  <mat-form-field>
    <input matInput placeholder="Fecha desde..." [(ngModel)]="fechaDesde" [matDatepicker]="myDatepicker">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>

  &nbsp; &nbsp; &nbsp; &nbsp;

  <mat-form-field>
    <input matInput placeholder="Fecha hasta..." [(ngModel)]="fechaHasta" [matDatepicker]="myDatepicker2">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker2></mat-datepicker>
  </mat-form-field>

  &nbsp; &nbsp; &nbsp; &nbsp;

  <button mat-raised-button color="primary" id="botonFiltrar" (click)="filtrar()">Filtrar</button>

</div>


  <table mat-table matSort [dataSource]="dataSource">

    <!-- ID Column -->
    <ng-container matColumnDef="idContenido">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idContenido}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>

    <!-- Extension Column -->
    <ng-container matColumnDef="extension">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Extensión </th>
      <td mat-cell *matCellDef="let element"> {{element.extension}} </td>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="fecha_de_publicacion">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_de_publicacion | date : 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Contenido Column -->
    <ng-container matColumnDef="contenido">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Contenido </th>
      <td mat-cell *matCellDef="let element"> {{element.contenido}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[1,2,5]" showFirstLastButtons></mat-paginator>