<h1 id="tituloMenu" mat-dialog-title>Edicion Documento</h1>


<div mat-dialog-content class="matDialogContent">
  <br>


  <mat-form-field class="formTitulo">
    <mat-label>Titulo...</mat-label>
    <input matInput [(ngModel)]="data.documento.titulo">
  </mat-form-field>

  <br>

  <div class="horizontal">
    <div>
      <label class="custom-file-upload" for="singleFile">Seleccionar archivo...</label>
      <input type="file" class="botonMenu" id="singleFile" (change)="handleFileInput($event.target.files)" />
      <br>
    </div>

    &nbsp; &nbsp; &nbsp;

    <div>
      <mat-spinner *ngIf="loading" [diameter]="45"></mat-spinner>
    </div>
  </div>

  <mat-form-field class="formContenido">
    <mat-label>Contenido...</mat-label>
    <textarea matInput [(ngModel)]="data.documento.contenido"></textarea>
  </mat-form-field>


  <div *ngIf="!data.esUnaEdicion">
    <mat-form-field class="formExtension">
      <mat-label>Extension...</mat-label>
      <mat-select id="selectorDocumentos" [(ngModel)]="data.documento.extension">
        <mat-option *ngFor='let extension of extensionesPosibles' [value]="extension">{{extension}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>

<br>
<button mat-stroked-button color="accent" (click)="cancelarEdicion()">Cancelar</button>
&nbsp;
<button mat-raised-button color="primary" (click)="aceptarEdicion()">Aceptar</button>