<h1 mat-dialog-title>Edicion Documento</h1>


<div mat-dialog-content class="matDialogContent">
  <br>


    <mat-form-field class="formTitulo">
      <mat-label>Titulo...</mat-label>
      <input matInput>
    </mat-form-field>

  <br>

    <mat-form-field class="formContenido">
      <mat-label>Contenido...</mat-label>
      <textarea matInput ></textarea>
    </mat-form-field>


  <mat-form-field class="formExtension">
      <mat-label>Extension...</mat-label>
      <mat-select id="selectorDocumentos" name="" id=""></mat-select>
    </mat-form-field>

</div>




<br>
<button mat-stroked-button color="accent" (click)="cancelarEdicion()">Cancelar</button>
&nbsp;
<button mat-raised-button color="primary" (click)="aceptarEdicion()">Aceptar</button>