<mat-card class="formatoTabla">
  <mat-card-title primary>
    Reporte
  </mat-card-title>

  <mat-card-content>

    <br>

    <app-panel-reporte titulo="Documentos más descargados"></app-panel-reporte>
  </mat-card-content> 
  <mat-card-content>


    <br>
    <br>
    <br>
    <br>

    <app-panel-reporte titulo="Documentos menos descargados"></app-panel-reporte>


    <br>

  </mat-card-content>
  <button mat-stroked-button color="accent" [routerLink]="['/menuPrincipal']">Volver</button>

</mat-card>