<mat-card class="hola">
  <mat-card-title primary>
    Documentos
  </mat-card-title>
  <mat-card-content>

    <div class="horizontal">
      <p>Fecha desde:</p>
      <input type="text">

      <div class="horizontal">
        <p>Extension:</p>
        <mat-select id="selectorDocumentos" name="" id=""></mat-select>
      </div>
    </div>

    <div class="horizontal">
      <p>Fecha hasta:</p>
      <input type="text">

      <p>Fecha hasta:</p>
      <button mat-stroked-button>Filtrar</button>
    </div>

    <br>
    <br>
    <br>

    <div class="horizontal">


      <table matSort (matSortChange)="funcionQueOrdena($event)" class="table table-striped table-hover">
        <thead>
          <tr>
            <th mat-sort-header="id">ID</th>
            <th mat-sort-header="nombre">Nombre</th>
            <th mat-sort-header="extension">Extension</th>
            <th mat-sort-header="fecha">Fecha</th>
            <th mat-sort-header="contenido">Contenido</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>ID Doc 1</p>
            </td>
            <td>
              <p>Nombre Doc 1</p>
            </td>
            <td>
              <p>Extension Doc 1</p>
            </td>
            <td>
              <p>Fecha Doc 1</p>
            </td>
            <td>
              <p>Contenido Doc 1</p>
            </td>
            <td>
              <span class="iconify" data-icon="mdi:pencil" data-inline="false"></span>
              <span class="iconify" data-icon="mdi-delete" data-inline="false"></span>
            </td>
          </tr>

          <tr>
            <td>
              <p>ID Doc 2</p>
            </td>
            <td>
              <p>Nombre Doc 2</p>
            </td>
            <td>
              <p>Extension Doc 2</p>
            </td>
            <td>
              <p>Fecha Doc 2</p>
            </td>
            <td>
              <p>Contenido Doc 2</p>
            </td>
            <td>
              <span class="iconify" data-icon="mdi:pencil" data-inline="false"></span>
              <span class="iconify" data-icon="mdi-delete" data-inline="false"></span>
            </td>

          </tr>
        </tbody>
      </table>

    </div>

    <div>
      <button mat-stroked-button [routerLink]="['/editarDocumento']">Nuevo</button>
    </div>

    <br>
    <br>
    <button mat-stroked-button [routerLink]="['/menuPrincipal']">Volver</button>

  </mat-card-content>
</mat-card>