<mat-card class="formatoTabla">
  <mat-card-title primary>
    Documentos
  </mat-card-title>
  <mat-card-content>



    <div class="horizontal">

      <mat-form-field>
        <input matInput placeholder="Fecha desde..." [(ngModel)]="fechaDesde" [matDatepicker]="myDatepicker">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>

      &nbsp;
      &nbsp;

      <div class="horizontal">
        <mat-form-field>
          <mat-label>Extension...</mat-label>
          <mat-select id="selectorDocumentos" name="" id=""></mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="horizontal">
        <mat-form-field>
            <input matInput placeholder="Fecha hasta..." [(ngModel)]="fechaHasta" [matDatepicker]="myDatepicker2">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker2></mat-datepicker>
          </mat-form-field>

      &nbsp;
      &nbsp;

      <button mat-raised-button color="primary" id="botonFiltrar" (click)="filtrar()">Filtrar</button>
    </div>

    <br>
    <br>
    <br>

    <div class="horizontal">


      <table matSort (matSortChange)="funcionQueOrdena($event)" class="table table-striped table-hover">
        <thead>
          <tr>
            <th mat-sort-header="id">ID</th>
            <th mat-sort-header="nombre">Nombre</th>
            <th mat-sort-header="extension">Extension</th>
            <th mat-sort-header="fecha">Fecha</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>ID Doc 1</p>
            </td>
            <td>
              <p>Nombre Doc 1</p>
            </td>
            <td>
              <p>Extension Doc 1</p>
            </td>
            <td>
              <p>Fecha Doc 1</p>
            </td>
            <td>
              <button class="iconButton" (click)="editarDocumento(documento)">
                <span class="iconify" data-icon="mdi:pencil" data-inline="false">
                </span>
              </button>

              <button class="iconButton" (click)="eliminarDocumento(documento)">
                <span class="iconify" data-icon="mdi-delete" data-inline="false"></span>
              </button>
            </td>
          </tr>

          <tr>
            <td>
              <p>ID Doc 2</p>
            </td>
            <td>
              <p>Nombre Doc 2</p>
            </td>
            <td>
              <p>Extension Doc 2</p>
            </td>
            <td>
              <p>Fecha Doc 2</p>
            </td>
            <td>

              <button class="iconButton" (click)="editarDocumento(documento)">
                <span class="iconify" data-icon="mdi:pencil" data-inline="false">
                </span>
              </button>

              <button class="iconButton" (click)="eliminarDocumento(documento)">
                <span class="iconify" data-icon="mdi-delete" data-inline="false"></span>
              </button>
            </td>

          </tr>
        </tbody>
      </table>

    </div>

    <div>
      <button mat-raised-button color="primary" (click)="crearDocumento()">Nuevo</button>
    </div>

    <br>
    <br>
    <button mat-stroked-button color="accent" [routerLink]="['/menuPrincipal']">Volver</button>

  </mat-card-content>
</mat-card>