<div style="
          margin-right: -2%;
          margin-left: -2%;
          margin-top: -2%;
          margin-bottom: -2%;
          height: 50%;
          width: 50%;
          justify-content: center;
          align-items: center;
          margin-left: 25%;
          margin-right: 25%;
          margin-top: 5%;" class="mat-elevation-z8">

  <mat-card class="formatoTitulo">

    <mat-card-title primary>
      <h1 id="tituloMenu">
        Menu Principal
      </h1>
    </mat-card-title>

    <mat-card-content style="margin-top: 7%;">
      <button mat-raised-button class="botonMenu" [routerLink]="['/documentos']">Ver Documentos</button>
      <br>
      <br>
      <button mat-raised-button class="botonMenu" [routerLink]="['/reporte']">Ver Reporte</button>
    </mat-card-content>
  </mat-card>

</div>